body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
padding:20px;
background:#000;
text-align:center;
}

.container{
padding:30px;
}

.card{
background:#1c1c1c;
padding:20px;
margin:10px;
border-radius:10px;
}

button{
padding:10px 20px;
background:#00ff99;
border:none;
border-radius:5px;
cursor:pointer;
}

input{
padding:10px;
margin:5px;
width:100%;
}