/* BODY */

body{
font-family:'Poppins',sans-serif;
margin:0;
background:linear-gradient(135deg,#000000,#1a0000,#300000);
color:white;
}


/* HEADER */

header{
padding:25px;
text-align:center;
background:rgba(0,0,0,0.85);
box-shadow:0 0 20px rgba(255,0,0,0.6);
}

.logo{
font-size:40px;
letter-spacing:2px;
}

.author{
font-size:18px;
color:#ff3b3b;
margin-top:5px;
text-shadow:0 0 10px #ff0000;
}

nav a{
margin:10px;
color:#ff3b3b;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:white;
text-shadow:0 0 10px #ff0000;
}


/* HERO */

.hero{
text-align:center;
padding:100px 20px;
}

.hero h2{
color:#ff3b3b;
font-size:32px;
}

.hero p{
opacity:0.8;
}


/* BUTTON */

.btn{
display:inline-block;
padding:12px 30px;
background:linear-gradient(45deg,#ff0000,#990000);
border-radius:30px;
color:white;
text-decoration:none;
font-weight:bold;
margin-top:15px;
transition:0.3s;
}

.btn:hover{
transform:scale(1.1);
box-shadow:0 0 20px #ff0000;
}


/* FEATURES */

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.feature{
width:220px;
text-align:center;
padding:20px;
background:rgba(0,0,0,0.6);
border-radius:10px;
box-shadow:0 0 15px rgba(255,0,0,0.3);
transition:0.3s;
}

.feature:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #ff0000;
}


/* ABOUT */

.container{
display:flex;
justify-content:center;
padding:40px;
margin-top;120px;
}

.card{
width:400px;
background:rgba(0,0,0,0.6);
border-radius:15px;
padding:30px;
box-shadow:0 0 20px rgba(255,0,0,0.4);
}


/* VIDEOS */

.videos{
text-align:center;
padding:40px;
}

video{
width:350px;
margin:15px;
border-radius:15px;
box-shadow:0 0 20px rgba(255,0,0,0.6);
}


/* CONTACT */

.contact{
text-align:center;
padding:40px;
}

.contact a{
color:#ff3b3b;
text-decoration:none;
}

.contact a:hover{
text-shadow:0 0 10px #ff0000;
}


/* FOOTER */

footer{
text-align:center;
padding:25px;
background:black;
border-top:1px solid #ff0000;
margin-top:40px;
}


/* INPUT */

input{
padding:12px;
margin:10px 0;
width:100%;
border:none;
border-radius:8px;
outline:none;
background:rgba(255,255,255,0.1);
color:white;
}

input:focus{
box-shadow:0 0 10px #ff0000;
}


/* BUTTON GENERAL */

button{
padding:12px 25px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#ff0000,#990000);
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
box-shadow:0 0 15px #ff0000;
}
.video-grid{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.instagram-media{
max-width:350px !important;
}
